name: ticket-booking
services:
  postgres_db:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ticket_booking
    container_name: postgres_db
    volumes:
      - ./postgres_data:/var/lib/postgresql/data      
    networks:
      - ticket_booking_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ticket_booking"]
      interval: 10s
      timeout: 5s
      retries: 3
  search_service: 
    build:
      context: ./search-service
      dockerfile: Dockerfile.Dev
    container_name: search-service
    ports:
      - 3000:3000
    depends_on:
      postgres_db:
        condition: service_healthy
      redis_read_service:
        condition: service_healthy
    environment:
      - NODE_ENV=local
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_NAME=ticket_booking
      - REDIS_HOST=redis_read_service
      - REDIS_PORT=6379
      - ELASTICSEARCH_NODE=http://es-local-dev:9200
      - ELASTICSEARCH_API_KEY=RURnRG1Ka0JpSFNYNUFsd2d0NVc6TkluNTEzR2xTdWdyODdCRVNKSW14dw==
    volumes:
      - ./search-service:/app
      - /app/node_modules
    networks:
      - ticket_booking_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/search/health"]
      interval: 60s
      timeout: 30s
      retries: 3
    command: npm run start:dev
  booking_management_service:
    build:
      context: ./booking-management-service
      dockerfile: Dockerfile.Dev
    container_name: booking-management-service
    ports:
      - 3001:3000
    depends_on:
      postgres_db:
        condition: service_healthy
      redis_write_service:
        condition: service_healthy
    environment:
      - NODE_ENV=local
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_NAME=ticket_booking
      - REDIS_HOST=redis_write_service
      - REDIS_PORT=6379
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials/gcloud-credentials.json
      - PROJECT_ID=ticket-booking-471523
    volumes:
      - ./booking-management-service:/app
      - /app/node_modules
      - /Users/nguyenvo/.config/gcloud/application_default_credentials.json:/app/credentials/gcloud-credentials.json:ro
    networks:
      - ticket_booking_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/booking/health"]
      interval: 60s
      timeout: 30s
      retries: 3
    command: npm run start:dev
  queue_service: 
    build:
      context: ./queue-service
      dockerfile: Dockerfile.Dev
    container_name: queue-service
    ports:
      - 3002:3000
    depends_on:
      redis_write_service:
        condition: service_healthy
    environment:
      - NODE_ENV=local
      - REDIS_HOST=redis_write_service
      - REDIS_PORT=6379
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials/gcloud-credentials.json
      - PROJECT_ID=ticket-booking-471523
      - BIND_ADDRESS=0.0.0.0
    volumes:
      - ./queue-service:/app
      - /app/node_modules
      - /Users/nguyenvo/.config/gcloud/application_default_credentials.json:/app/credentials/gcloud-credentials.json:ro
    networks:
      - ticket_booking_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3002/queue/health"]
      interval: 60s
      timeout: 30s
      retries: 3
    command: npm run start:dev
  redis_read_service:
    image: redis:8.0.2-alpine3.21
    container_name: redis_read_service
    ports:
      - 6379:6379
    networks:
      - ticket_booking_network
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
  redis_write_service:
    image: redis:8.0.2-alpine3.21
    container_name: redis_write_service
    ports:
      - 6380:6379
    networks:
      - ticket_booking_network
    restart: always
    command: redis-server --notify-keyspace-events Ex
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
  seeder:
    build: ./database
    environment:
      - NODE_ENV=local
      - DB_HOST=postgres_db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=password
      - DB_NAME=ticket_booking

      - ELASTICSEARCH_NODE=http://es-local-dev:9200
      - ELASTICSEARCH_API_KEY=RURnRG1Ka0JpSFNYNUFsd2d0NVc6TkluNTEzR2xTdWdyODdCRVNKSW14dw==
    depends_on:
      postgres_db:
        condition: service_healthy
    volumes:
      - ./database:/app
      - /app/node_modules
    command: npm run seed
    restart: "no"
    networks:
      - ticket_booking_network
networks:
  ticket_booking_network:
    external: true
